body {
    margin: 0px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #40514e;
}

h1 {
    font-size: 90px;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Great Vibes', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    margin-top: 80px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    background-color: #c9fae8;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 90px;
    bottom: 300px;
    width: 25%;
}

.top-cloud {
    position: absolute;
    right: 170px;
    top: 50px;
    width: 25%;
}

.hello-profile {
    margin-top: 20px;
}

.profile-img {
    width: 12%;
    margin-top: 50px;
    margin-bottom: 0px;
}

.profile {
    margin: auto auto 80px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 130px auto;
    text-align: left;
}

.baking {
    width: 25%;
    float: left;
    margin-right: 30px;
    position: relative;
    bottom: 40px;
}

.paint {
    width: 25%;
    float: right;
    margin-right: 80px;
    position: relative;
    bottom: 40px;
}

hr {
    border-style: dotted none none;
    border-width: 7px;
    width: 4%;
    border-color: #EAF6F6;
}

.btn {
    background: #11999E;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 15px;
    font-weight: 100;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.bottom-container {
    background-color: #c9fae8;
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 0px;
    width: 100%;
    height: 150px;
}

.footer-link {
    color: #11999E;
    padding-right: 50px;
    text-decoration: none;
    text-align: center;
}

.copywrite {
    color: #11999E;
}